<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/CSS/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <p>{{errorMSG}}</p>
        </div>
        {{>footer}}
    </body>
</html>