<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/IMG/icon.png">
        <link rel="stylesheet" href="/CSS/styles.css">
        <title>About</title>
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <p><img class="portrait" src="/IMG/me.jpg"></p>
            <p>Hi! This app uses <a href="https://weatherstack.com/">weatherstack</a>, a free real-time world weather API.</p>
            <p>It was created as an excercise to refresh my javascript and node.js skills.</p>
        </div>
        {{>footer}}
    </body>
</html>