<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
    {{>header}}
    <div class="main-content">
        <form>
            <input placeholder="location">
            <button>Search</button>
        </form>
        <p id = "msg1">This is a simple web application that will tell you the weather. It was created as an excercise.</p>
        <p id = "msg2"></p>
    </div>
    {{>footer}}
    <script src="/JS/app.js"></script>
</body>

</html>