:root {
    --mainColor: rgb(99, 99, 99);
}

body {
    color: #adadad;
    background-color: rgb(46, 46, 46);
    font-family: calibri;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    max-width: 650px; 
    padding: 16px;
}

.main-content p a {
    text-decoration: none;
    color:rgb(255, 212, 22)
}
.main-content p a:hover {
    text-decoration: none;
    color:white;
}

footer {
    color: #888;
    border-top: 1px solid #747474;
    margin-top: 16px;
    padding: 16px 0px;
}

header {
    color: #e7e0e0;
    background-color: var(--mainColor);
    padding: 16px;
}

h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

header a {
    color:#e7e0e0;
    margin-right: 16px;
    text-decoration: none;
}

header a:hover {
    color: rgb(255, 212, 22);
}

.portrait {
    width: 15vh;
}